# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
**/**/**/Broadcast/*.*
!**/**/**/Broadcast/*.hex
**/**/**/DebugConfig/
*.uvoptx
*.duwon

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#doxygen Documents
Documents/
.vscode/
ETC/SerialTest/obj/Debug/
ETC/SerialTest/bin/Debug/
ETC/.vs/SerialTest/v15/Server/
Projects/**/EWARM/Debug/
Projects/**/EWARM/Lora/
Projects/**/EWARM/settings/
